---
import Layout from "../../layouts/Layout.astro";
import PostBox from "../../components/PostBox.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.publishedAt - a.data.publishedAt
);
---

<Layout>
  <div>
    {
      posts.map((post) => (
        <>
          <div class="divider my-2" />
          <PostBox
            title={post.data.title}
            publishedAt={post.data.publishedAt}
            description={post.data.description}
            href={post.slug}
          />
        </>
      ))
    }
  </div>
</Layout>
