---
import Layout from '../../layouts/Layout.astro'
import PostBox from '../../components/PostBox.astro'
import type { SanityArticle } from '../../types'
import { sanityClient } from 'sanity:client'

const sanityArticles = await sanityClient.fetch(`*[_type == "article"]`)
const articles = sanityArticles
  .map(
    ({
      slug,
      title,
      description,
      body,
      _createdAt,
    }: {
      slug: { current: string }
      title: string
      description: string
      body: string
      _createdAt: string
    }) => ({
      slug: slug.current,
      title,
      description,
      body,
      createdAt: _createdAt,
    }),
  )
  .sort(
    (a: { createdAt: string }, b: { createdAt: string }) =>
      new Date(a.createdAt).getTime() - new Date(b.createdAt).getTime(),
  )
---

<Layout og_type="website">
  <div>
    {
      articles.map(({ title, description, slug, createdAt }: SanityArticle) => (
        <>
          <div class="divider my-2" />
          <PostBox
            title={title}
            createdAt={createdAt}
            description={description}
            href={slug}
          />
        </>
      ))
    }
  </div>
</Layout>
