---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("posts")).sort(function (first: any, second: any) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<BaseLayout>
  <div>
    {posts.map((post: any) => (
      <div class="divider my-2"></div>
      <a class="group flex cursor-pointer flex-col gap-2 p-4" href={`/posts/${post.data.slug}`}>
        <div class="flex w-full justify-between gap-2 flex-row items-center">
          <p class="text-base-content font-semibold">{post.data.title}</p>
          <div class="flex flex-row items-center gap-4">
            <p class="text-neutral-content">{post.data.author} - {post.data.publishedAt.toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"}) }</p>
            <!-- <IconArrowUpRight color="#94a0a9" class="transition-all duration-300 group-hover:translate-x-1" size=22 /> -->
          </div>
        </div>
        <p class="truncate text-neutral-content">{post.data.description}</p>
      </a>
    ))}
  </div>
</BaseLayout>
