---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.publishedAt - a.data.publishedAt
);
---

<Layout>
  <div>
    {
      posts.map((post) => (
        <>
          <div class="divider my-2" />
          <a
            class="group flex cursor-pointer flex-col gap-2 p-4"
            href={`/posts/${post.slug}`}
            data-astro-prefetch
          >
            <div class="flex w-full justify-between gap-2 flex-row items-center">
              <p class="text-base-content font-semibold">{post.data.title}</p>
              <div class="flex flex-row items-center gap-4">
                <p class="text-neutral-content">
                  {post.data.publishedAt.toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="22"
                  height="22"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#94a0a9"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  color="#94a0a9"
                  class="tabler-icon tabler-icon-arrow-up-right transition-none md:transition-all md:duration-300 md:group-hover:translate-x-1"
                >
                  <>
                    <path d="M17 7l-10 10" />
                    <path d="M8 7l9 0l0 9" />
                  </>
                </svg>
              </div>
            </div>
            <p class="truncate text-neutral-content">{post.data.description}</p>
          </a>
        </>
      ))
    }
  </div>
</Layout>
