---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="hero absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">404</h1>
        <p class="py-6">
          We're sorry, we couldn't find the page you requested.
        </p>
      </div>
    </div>
  </div></Layout
>
