---
import Layout from "../layouts/Layout.astro";
import FloatingBox from "../components/FloatingBox.astro";

const years = () => {
  const start = new Date("2022-10-01");
  const now = new Date();
  return now.getFullYear() - start.getFullYear();
};

import { getCollection } from "astro:content";
const posts = (await getCollection("posts")).sort(function (
  first: any,
  second: any
) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
  <main>
    <div class="flex flex-col gap-20">
      <article class="md:flex-row-reverse md:justify-end md:gap-12">
        <div class="grid grid-cols-1 sm:grid-cols-2">
          <div class="flex flex-col gap-6 md:gap-8 my-auto">
            <h1 class="text-3xl">Hi, I’m Tahir</h1>
            <h2 class="w-auto leading-6 text-neutral-content">
              I am a <strong class="font-normal text-accent"
                >Japanese student developer</strong
              > with over
              <strong class="font-normal text-accent">{years} years</strong> of experience.
              I am currently working with<strong
                class="font-normal text-accent"
              >
                Golang and Typescript</strong
              >. Outside of programming I like to game and take photographs.
            </h2>
            <div class="custom-breadcrumbs text-neutral-content">
              <ul>
                <li>
                  <a
                    href="https://twitter.com/_pastc"
                    rel="noreferrer"
                    target="_blank"
                  >
                    Twitter
                  </a>
                </li>
                <li>
                  <a
                    href="https://github.com/pastc"
                    rel="noreferrer"
                    target="_blank"
                  >
                    Github
                  </a>
                </li>
                <li>
                  <a
                    href="https://gitlab.com/paste"
                    rel="noreferrer"
                    target="_blank"
                  >
                    Gitlab
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="ml-auto hidden sm:block">
            <div class="avatar">
              <div class="size-60 rounded-lg">
                <img src="/icon.jpg" />
              </div>
            </div>
          </div>
        </div>
      </article>

      <article class="flex flex-col gap-8">
        <header class="flex w-full flex-row justify-between gap-2">
          <h3 class="text-lg">Featured projects</h3>
          <a
            href="https://github.com/pastc?tab=repositories"
            class="text-neutral-content text-sm underline decoration-dashed underline-offset-8"
            target="_self"
            rel="noreferrer"
            >See all projects
          </a>
        </header>
        <section
          class="grid grid-cols-1 gap-4 sm:grid-cols-2 justify-center items-stretch"
        >
          <FloatingBox
            title="Vero"
            href="https://github.com/pastc/vero"
            tags={["golang", "algorithm", "provably-fair", "hash"]}
          />
          <FloatingBox
            title="Petch"
            href="https://github.com/pastc/petch"
            tags={["golang", "screenfetch"]}
          />
        </section>
      </article>

      <article class="flex flex-col gap-8">
        <header class="flex w-full flex-row justify-between gap-2">
          <h3 class="text-lg">Latest posts</h3>
          <a
            href="/posts"
            class="text-neutral-content text-sm underline decoration-dashed underline-offset-8"
            rel="noreferrer"
            >See all posts
          </a>
        </header>
        <section class="grid grid-cols-1 gap-4 sm:grid-cols-2 mx-auto">
          {
            posts.map((post: any) => (
              <FloatingBox
                title={post.data.title}
                publishedAt={post.data.publishedAt.toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
                description={post.data.description}
                href={"/posts/" + post.slug}
              />
            ))
          }
        </section>
      </article>
    </div>
  </main>
</Layout>

<style></style>
