---
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html data-theme="sunset" class="bg-base-200 overflow-y-scroll" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="I am a Japanese student developer with over 2 years of experience. I am currently working with Golang and Typescript. Outside of programming I like to game and take photographs."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <title>Tahir Murata</title>
  </head>
  <body>
    <div
      class="z-40 mx-auto flex min-h-screen max-w-4xl flex-col gap-9 px-10 py-8 text-base-content md:gap-20 md:py-16"
    >
      <header
        class="flex w-full flex-col gap-3 md:gap-2 md:flex-row md:justify-between pb-5 md:pb-0 text-neutral-content"
      >
        <a href="/" class="text-xl">Tahir Murata</a>
        <div class="text-sm custom-breadcrumbs">
          <ul>
            <li>
              <a class={currentPath === "/" ? "text-base-content" : ""} href="/"
                >Home</a
              >
            </li>
            <li>
              <a
                class={currentPath.startsWith("/posts")
                  ? "text-base-content"
                  : ""}
                href="/posts">Posts</a
              >
            </li>
            <li>
              <a
                class={currentPath === "/projects" ? "text-base-content" : ""}
                href="/projects">Projects</a
              >
            </li>
          </ul>
        </div>
      </header>
      <div
        class="pointer-events-none fixed z-0 h-[150px] w-[150px] sm:w-[200px] sm:h-[200px] md:w-[220px] md:h-[220px] xl:w-[260px] xl:h-[260px] rounded-full bg-primary blur-[150px] opacity-30 left-10 top-10"
      >
      </div>
      <div
        class="pointer-events-none fixed z-0 h-[150px] w-[150px] sm:w-[200px] sm:h-[200px] md:w-[220px] md:h-[220px] xl:w-[260px] xl:h-[260px] rounded-full bg-secondary blur-[150px] opacity-30 right-10 bottom-10"
      >
      </div>
      <slot />
    </div>
  </body>
</html>

<style is:global>
  .custom-breadcrumbs {
    max-width: 100%;
    overflow-x: auto;
    padding-top: 0.5%;
  }

  .custom-breadcrumbs > ul {
    display: flex;
    align-items: center;
    white-space: nowrap;
    min-height: min-content;
  }

  .custom-breadcrumbs > ul > li {
    display: flex;
    align-items: center;
  }

  .custom-breadcrumbs > ul > li > a {
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  @media (hover: hover) {
    .custom-breadcrumbs > ul > li > a:hover {
      text-decoration-line: underline;
    }
  }

  .custom-breadcrumbs > ul > li > a:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .custom-breadcrumbs > ul > li > a:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  .custom-breadcrumbs > ul > li + *:before {
    content: "/";
    margin-left: 0.5rem /* 8px */;
    margin-right: 0.75rem /* 12px */;
    display: block;
    opacity: 0.4;
    background-color: transparent;
  }

  [dir="rtl"] .custom-breadcrumbs > ul > li + *:before {
    --tw-rotate: -180deg;
  }
</style>
